$nord0: rgba(46, 52, 64, 1);
$nord1: rgba(59, 66, 82, 1);
$nord2: rgba(67, 76, 94, 1);
$nord3: rgba(76, 86, 106, 1);
$nord4: rgba(216, 222, 233, 1);
$nord5: rgba(229, 233, 240, 1);
$nord6: rgba(236, 239, 244, 1);
$nord7: rgba(143, 188, 187, 1);
$nord8: rgba(136, 192, 208, 1);
$nord9: rgba(129, 161, 193, 1);
$nord10: rgba(94, 129, 172, 1);
$nord11: rgba(191, 97, 106, 1);
$nord12: rgba(208, 135, 112, 1);
$nord13: rgba(235, 203, 139, 1);
$nord14: rgba(163, 190, 140, 1);
$nord15: rgba(180, 142, 173, 1);
